@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text selection:bg-primary/30;
    font-family: 'Pretendard', sans-serif;
    overflow-x: hidden;
  }
  
  html {
    scroll-behavior: smooth;
  }
}
